[submodule "external/GEDCOM-registries"]
	path = external/GEDCOM-registries
	url = https://github.com/FamilySearch/GEDCOM-registries.git
[submodule "external/test-files"]
	path = external/test-files
	url = https://github.com/gedcom7code/test-files.git
[submodule "external/gedcom5.5.1"]
	path = external/gedcom5.5.1
	url = https://github.com/ArmidaleSoftware/gedcom5.5.1.git
