[submodule "external/GEDCOM-registries"]
	path = external/GEDCOM-registries
	url = https://github.com/FamilySearch/GEDCOM-registries.git
[submodule "external/test-files"]
	path = external/test-files
	url = https://github.com/gedcom7code/test-files.git
